{%extends 'base.html'%}

{%block content%}
	{%for msg in get_flashed_messages()%}
	<div class="alert alert-primary" role="alert"> {{ msg }}</div>
	{%endfor%}

<form class="row col-6 mx-auto" method="POST" action="{{url_for('cars.choice_car',id_car=id_car)}}">
	{{form.hidden_tag()}}

	{{ form.email.label(class_="col-xs-3 col-form-label mr-2") }}
	{{form.email(class_='form-control')}}
 	{{form.phone.label(class_="col-xs-3 col-form-label mr-2")}} {{form.phone(class_='form-control')}}
	{{form.name.label(class_="col-xs-3 col-form-label mr-2")}} {{form.name(class_='form-control')}}

	{{form.cities.label(class_="col-xs-3 col-form-label mr-2")}}
	{{form.cities(class_='form-control input-sm exampleFormControlSelect1',onfocus='this.size=10;')}}
	
  	{{form.comment.label(class_="col-xs-3 col-form-label mr-2")}} {{form.comment( class_='form-control')}}
	<input name="value_id_car"value="{{ id_car }}"style="display: none">
	{{form.submit}}

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script> 
$(".exampleFormControlSelect1").chosen();
$('.exampleFormControlSelect1').css('height', '50px');
</script>

{%endblock%}
