{%extends 'base.html'%}
{%block content%}

<h1> Profil </h1>
<p><b>Здравствуйте {{current_user.username}}</b></p>
<p><b>Ваша роль: {{role}}</b></p>
<p><b>Ваша почта:{{current_user.email}}</b></p>
<p><b>Ваш телефон: {{current_user.phone}}</b><button>s</button></p>
{%if role == 'checkman'%}
	<div class="container-fluid">
		<div class="container">
			<div class="row text-center">
				{%for dict_ in form_and_car_id%}
					{%for row in Avto.query.filter(Avto.id == dict_['id_car']).all()%}
						<div class="card mb-5 " >
							<div class="col">
						  		<div class="card-body ">
						    	<h5 class="card-title ">{{row.name}}</h5>
						   	 	<p class="card-text">Price: {{row.price}}</p>
							    <p class="card-text">Year: {{row.year}}</p>
							    <p class="card-text">City: {{row.city}}</p>
								</div>
							</div>
					{%endfor%}
					
					
					{%for row in RequestForm.query.filter(RequestForm.id == dict_['id_form']).all()%}
							<div class="col">
								<p>Users name: {{row.name}}</p>
								<p>User phone: {{row.phone}}</p>
								<p>Users email:{{row.email}}</p>
								<p>Users city: {{row.city}}</p>
								<p>Comment:{{row.comment}}</p>
							</div>
						</div>
					{%endfor%}
				{%endfor%}
			</div>
		</div>
	</div>
{%endif%}

{%if role == 'user'%}
	<h2>Ваши заявки:</h2>
	{%for row in RequestForm.query.filter(RequestForm.email == current_user.email).all()%}
		<div class="card mb-5" style="width: 18rem;">
	  		<div class="card-body">
	    	<p class="card-title">Ваше имя:{{row.name}}</p>
	   	 	<p class="card-text">Ваш номер: {{row.phone}}<p>
	    	<p class="card-text">Email: {{row.email}}<p>
	    	<p class="card-text">Город: {{row.city}}<p>
	    	<p class="card-text">Комментарий: {{row.comment}}<p>
			<p><h3>Машина:</h3> 
		{%for item in Avto.query.filter(Avto.id == row.id_car).all()%}
			<p class="card-title">{{item.name}}</p>
	   	 	<p class="card-text">Price: {{item.price}}<p>
	    	<p class="card-text">Transmission: {{item.transmission}}<p>
	    	<p class="card-text">Drive unit: {{item.drive_unit}}<p>
	    	<p class="card-text">Engen: {{item.engen}}<p>
	    	<p class="card-text">Type engen: {{item.type_engen}}<p>
		    <p class="card-text">Year: {{item.year}}<p>
		    <p class="card-text">City: {{item.city}}<p>
		{%endfor%}
	{%endfor%}
		</div>	


{%endif%}




{%endblock%}